body {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: Roboto, Arial, sans-serif;
}
h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000;
  font-weight: 500;
  font-family: Roboto, Arial, sans-serif;
}
h3 {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  font-weight: 500;
  font-family: Roboto, Arial, sans-serif;
  text-transform: uppercase;
}
.upper {
  text-transform: uppercase;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-header {
  background-color: #eeeeee;
}
.logo {
  float: left;
  width: 160px;
  margin-top: 50px;
}
.logo:hover {
  opacity: .8;
}
.logo:active {
  opacity: .3;
}
.main-navigation {
  float: left;
  width: 660px;
  min-height: 70px;
  background-color: #eeeeee;
  margin-top: 78px;
  margin-left: 147px;
}
.main-navigation ul {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  list-style: none;
  margin-left: 35px;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  padding: 0 23px;
}
.main-navigation li a {
  display: block;
}
.main-navigation li a,
.cart a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  position: relative;
}
.main-navigation li a:hover,
.cart a:hover {
  color: #fb565a;
}
.main-navigation li a:active,
.cart a:active {
  color: #c0c0c0;
}
.main-navigation .current::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
  top: 22px;
}
.shopcart a {
  position: absolute;
  padding-top: 78px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  padding-left: 121px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
}
.shopcart a:hover {
  color: #fb565a;
}
.shopcart a:active {
  color: #bdbdbd;
}
.shopcart a::before {
  position: absolute;
  top: 78px;
  left: 78px;
  content: "";
  width: 30px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0px 0px;
}
.shopcart a:hover::before {
  position: absolute;
  top: 78px;
  left: 78px;
  content: "";
  width: 30px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -32px 0px;
}
.shopcart a:active::before {
  position: absolute;
  top: 78px;
  left: 78px;
  content: "";
  width: 30px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -64px 0px;
}
.slider {
  position: relative;
  background-color: #eeeeee;
  height: 395px;
  margin: 0 auto;
}
.slider .container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 0px;
  height: 100%;
  position: relative;
}
.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}
.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}
.slider-controls label{
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 6px;
  margin-top: -9px;
  background: #fff;
  border: 4px solid #fff;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"]:before,
#btn-2:checked ~ .slider-controls label[for="btn-2"]:before,
#btn-3:checked ~ .slider-controls label[for="btn-3"]:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slide{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.slide-text{
  font-size: 16px;
  line-height: 24px;
  margin-top: 43px;
  color:#283136;
  width: 560px;
  min-height: 395px;
}
.slide-title {
  font-size: 55px;
  line-height: 55px;
  margin-top: 13px;
  margin-bottom: 26px;
  font-weight: 500;
  color:#000;
}
.slide .btn-info{
  display: block;
  width: 240px;
  padding: 10px 0;
  margin-top: 40px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  text-align:center;
  text-decoration:none;
  background:#fb565a;
  border-radius:3px;
  border-top: 3px solid #fb565a;
}
.slides .btn-info:hover {
  background-color: #e74246;
  border-top: 3px solid #e74246;
}
.slides .btn-info:active {
  background-color: (215,55,59);
  border-top: 3px solid #c13135;
  color: rgba(255,255,255,0.3);
}
.slide:nth-child(1) img {
  position: absolute;
  top: -35px;
  right: 0px;
}
.slide:nth-child(2) img {
  position: absolute;
  top: -35px;
  right: -17px;
}
.slide:nth-child(3) img{
  position: absolute;
  top: -35px;
  right: -5px;
}
.slide{
  display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}
.features {
  margin-top: 81px;
  margin-bottom: 78px;
}
.feature-item {
  margin-left: 100px;
  float: left;
  width: 300px;
  height: 350px;
}
.feature-item p {
  width: 250px;
}
.feature-item h2 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 18px;
  margin-bottom: 0;
  font-weight: bold;
}
.feature-item:first-child {
  margin-left: 0;
}
.feature-item .btn {
  display: block;
  background-color: #fb565a;
  width: 160px;
  text-align: center;
  color: #fff;
  margin-top: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 2px;
  text-decoration: none;
}
.feature-item .btn-red {
  background-color: #fb565a;
  border-top: 3px solid #fb565a;
}
.feature-item .btn-red:hover {
  background-color: #e74246;
  border-top: 3px solid #e74246;
}
.feature-item .btn-red:active {
  background-color: (215,55,59);
  border-top: 3px solid #c13135;
  color:rgba(255,255,255,0.3);
}
.feature-item .btn-green {
  background-color: #00ca74;
  border-top: 3px solid #00ca74;
}
.feature-item .btn-green:hover {
  background-color: #00bc6c;
  border-top: 3px solid #00bc6c;
}
.feature-item .btn-green:active {
  background-color: rgba(0,170,98);
  border-top: 3px solid #009958;
  color: rgba(255,255,255,0.3);
}
.feature-item .btn-yellow {
  background-color: #efc84a;
  border-top: 3px solid #efc84a;
}
.feature-item .btn-yellow:hover {
  background-color: #eab534;
  border-top: 3px solid #eab534;
}
.feature-item .btn-yellow:active {
  background-color: rgba(229,167,34);
  border-top: 3px solid #ce961f;
  color: rgba(255,255,255,0.3);
}
.about-us .container {
  border-top: 2px solid #eeeeee;
}
.about-us-col-left {
  float: left;
  width: 750px;
  margin-top: 37px;
  margin-left: 4px;
}
.about-us-col-left .concept {
  width: 650px;
  margin-top: -5px;
  margin-left: -2px;
}
.about-us-col-left h2 {
  font-weight: 500;
  padding-top: 0;
  margin-left: -2px;
}
.about-us-col-left .orders {
  margin-top: 38px;
  font-weight: bold;
  margin-left: -2px;
}
.about-us-col-left ul {
  margin-top: -1px;
  margin-left: -2px;
  padding-left: 36px;
}
.about-us-col-left li {
  list-style-type: none;
  padding-top: 25px;
  color: #283136;
  position: relative;
}
.about-us-col-left li::before {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  content: "";
  position: absolute;
  top: 36px;
  left: -36px;
}
.about-us-col-right {
  float: right;
  margin-top: 40px;
  text-align: right;
}
.about-us-col-right img {
  margin-left: -25px;
}
.about-us-col-right p {
  font-size: 16px;
  margin-top: 28px;
  margin-left: 8px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
.about-us-col-right ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 20px;
}
.about-us-col-right .percentage {
  font-size: 45px;
  font-weight: bold;
  margin-top: 35px;
  margin-left: 3px;
}
.about-us-col-right li,
.about-us-col-right li p {
  text-align: left;
}
.about-us-col-right li p {
  line-height: 19px;
  font-weight: 100;
  margin-left: 2px;
  margin-top: 30px;
  padding-left: 0;
}
.about-us-col-right li:first-child {
  padding-left: 0;
  margin-left: 0px;
}
.about-us-col-right li {
  margin-left: 20px;
}
.advantages .advantage {
  float: left;
  width: 100px;
}
.advantage li {
  margin-left: 0;
}
.partners {
  min-height: 180px;
  padding-bottom: 0px;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
  font-size: 0;
  margin-top: 44px;
  margin-bottom: 60px;
}
.partners-item {
  position: relative;
  float: left;
  width: 260px;
  padding-right: 40px;
}
.partners-item {
  display: block;
}
.partners-item img {
  display: block;
  vertical-align: middle;
  margin: 0 auto;
  opacity: .2;
}
.partners-item:hover img {
  opacity: 1;
}
.partners-item:active img {
  opacity: .1;
}
.partners-item:after {
  content: "";
  position: absolute;
  top: 64px;
  right: 19px;
  display: block;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}
.partners-item:nth-child(1) {
  padding-top: 0;
}
.partners-item:nth-child(2) {
  padding-top: 0;
}
.partners-item:nth-child(3) {
  padding-top: 0;
}
.partners-item:nth-child(4) {
  padding-top: 0;
  padding-right: 0;
}
.partners-item:nth-child(4):after {
  display: none;
}
.contacts {
  width: 270px;
  height: 308px;
  background-color: #fff;
  padding-left: 50px;
  position: relative;
  margin-top: 52px;
}
.contacts h3 {
  margin-top: 2px;
  padding-top: 50px;
  padding-bottom: 0;
  margin-left: 5px;
}
.contacts p {
  line-height: 18px;
  padding-top: 5px;
  margin-left: 5px;
}
.contacts .btn-contacts {
  display: block;
  background-color: #fb565a;
  width: 218px;
  text-align: center;
  color: #fff;
  margin-top: 33px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #fb565a;
  border-top: 3px solid #fb565a;
}
.contacts .btn-contacts:hover {
  background-color: #e74246;
  border-top: 3px solid #e74246;
}
.contacts .btn-contacts:active {
  background-color: (215,55,59);
  border-top: 3px solid #c13135;
  color: rgba(255,255,255,0.3);
}
.footer-map {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  background: url("../img/map.jpg") center no-repeat;
  height: 416px;
}
.footer-map .container {
  position: relative;
  top: 0;
}
.footer-bottom {
  padding-bottom: 70px;
}
.footer-bottom-left {
  width: 300px;
  float: left;
  margin-top: 70px;
  margin-left: 3px;
}
.social-btn {
  width:78px;
  height:78px;
  display: inline-block;
  border-radius:50px;
  vertical-align: top;
  background-color: #e1e1e1;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.social-btn:hover {
  background-color: #e74246;
}
.social-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-blend-mode: overlay;
}
.social-btn-fb::before {
  display: block;
  content: "";
  position: absolute;
  top: 27px;
  left: 32px;
  background: url("../img/sprite1.png") no-repeat;
  width: 12px;
  height: 22px;
  background-position: -10px -131px;
}
.social-btn-vk::before {
  display: block;
  content: "";
  position: absolute;
  top: 32px;
  left: 26px;
  background: url("../img/sprite1.png") no-repeat;
  width: 26px;
  height: 15px;
  background-position: -10px -214px;
}
.social-btn-inst::before {
  display: block;
  content: "";
  position: absolute;
  top: 27px;
  left: 28px;
  background: url("../img/sprite1.png") no-repeat;
  width: 21px;
  height: 21px;
  background-position: -10px -173px;
}
.social-btn-vk:active::before,
.social-btn-fb:active::before,
.social-btn-inst:active::before {
  background-color: #d7373b;
  background-blend-mode: overlay;
}
.footer-bottom-right {
  width: 800px;
  float: right;
  margin-right: -2px;
}
.footer-bottom-right .appeal {
  font-size: 36px;
  font-weight: bold;
  margin-left: 40px;
  padding-top: 46px;
}
.footer-bottom-right .discount {
  font-size: 16px;
  color: #444444;
  margin-left: 40px;
  margin-top: -21px;
}
.page-title {
  text-align: center;
  background-color: #eeeeee;
  min-height: 200px;
  padding-top: 156px;
}
.page-title h1 {
  font-size: 55px;
  font-weight: 500;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 0;
}
.main-products .content-col-left {
  width: 260px;
  float: left;
  margin-top: 0px;
}
.main-products h2 {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0px;
  padding-top: 0px;
}
.content-col-left h2 {
  padding-top: 3px;
}
.range-filter {
  width: 259px;
  margin-top: 48px;
}
.range-controls {
  position: relative;
  height: 80px;
  height: 41px;
  padding-top: 37px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 28px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  margin-bottom: 53px;
  font-size: 0;
}
.price-controls label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
}
.max-price {
  margin-left: 28px;
}
.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  width: 80px;
  height: 35px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  margin-left: 10px;
}
.price-controls label:nth-of-type(2) input {
  width: 75px;
}
.content-col-left ul {
  list-style-type: none;
  padding: 0;
}
.main-products-features h2 {
  padding-top: 19px;
  letter-spacing: 0px;
}
.content-col-left input[type=radio] {
  display: none;
}
.content-col-left input[type=radio] + label {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 37px;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  cursor: pointer;
  padding-bottom: 10px;
  color: #283136;
}
.content-col-left input[type=radio] + label:hover {
  color: #000;
}
.content-col-left input[type=radio] + label:active {
  color: #ededed;
}
.content-col-left input[type=radio] + label::before {
  content: "";
  width: 17px;
  height: 17px;
  border: 3px solid #b8b8b8;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: -2px;
  left: 4px;
}
.content-col-left input[type=radio]:hover + label::before {
  border-color: #4d4d4d;
}
.content-col-left input[type=radio]:active + label::before {
  border-color: #ededed;
}
.content-col-left input[type=radio]:checked + label::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #b8b8b8;
  position: absolute;
  top: 6px;
  left: 12px;
}
.content-col-left input[type=radio]:hover + label::after {
  background-color: #4d4d4d;
}
.content-col-left input[type=radio]:active + label::after {
  background-color: #ededed
}
.content-col-left input[type=checkbox] {
  display: none;
}
.content-col-left input[type=checkbox] + label {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 37px;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  cursor: pointer;
  padding-bottom: 10px;
}
.content-col-left input[type=checkbox] + label:hover {
  color: #000;
}
.content-col-left input[type=checkbox] + label:active {
  color: #ededed;
}
.content-col-left input[type=checkbox] + label::before {
  content: "";
  background-image: url("../img/sprite1.png");
  background-repeat: no-repeat;
  opacity: .6;
  position: absolute;
  top: -1px;
  left: 1px;
  width: 23px;
  height: 23px;
  background-position: -10px -45px;
}
.content-col-left input[type=checkbox]:hover + label::before {
  opacity: 1;
}
.content-col-left input[type=checkbox]:active + label::before {
  opacity: .3;
}
.content-col-left input[type=checkbox]:checked + label::before {
  content: "";
  background-image: url("../img/sprite1.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -1px;
  left: 1px;
  width: 27px;
  height: 23px;
  background-position: -10px -88px;
}
.content-col-left input[type=submit] {
  display: block;
  line-height: 24px;
  color: #000;
  font-weight: 500;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  padding: 12px 90px;
  background-color: #eeeeee;
  margin-top: 37px;
  border: 0;
  border-top: 3px solid #eeeeee;
  outline: none;
  border-radius: 3px;
}
.content-col-left input[type=submit]:hover {
  background-color: #dfdfdf;
  border-top: 3px solid #dfdfdf;
}
.content-col-left input[type=submit]:active {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  border-top: 3px solid #bfbfbf;
  opacity: .6;
}
.main-products .content-col-right {
  width: 760px;
  float: right;
  margin-left: 140px;
}
.content-col-right h2 {
  float: left;
}
.catalog-item-sort {
  text-transform: uppercase;
  margin-top: 20px;
  line-height: 18px;
  margin-bottom: 55px;
}
.catalog-item-sort .catalog-item-sort-item {
  cursor: pointer;
  display: inline-block;
  padding-right: 45px;
  opacity: .3;
}
.catalog-item-sort .catalog-item-sort-title {
  display: inline-block;
  margin-left: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding-right: 263px;
}
.catalog-item-sort .catalog-item-sort-item {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding-right: 18px;
  opacity: .3;
}
.catalog-item-sort .catalog-item-sort-active-item {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding-right: 20px;
  opacity: 1;
}
.catalog-item-sort .catalog-item-sort-item:hover {
  opacity: .7;
}
.catalog-item-sort .catalog-item-sort-item:active {
  opacity: 1
}
.catalog-item-sort .catalog-item-sort-item a, .catalog-item-sort-active-item a {
  display: block;
  padding-bottom: 1px;
  color: #000;
  text-decoration: none;
  border-bottom: none;
}
.catalog-item-sort .catalog-item-sort-item a:hover {
  border-bottom: none;
}
.catalog-item-sort .catalog-item-sort-item a:active, .catalog-item-sort .catalog-item-sort-item a .catalog-item-sort-item-active {
  border-bottom: none;
  text-decoration: none;
}
.sort-arrows {
  float: right;
}
.sort-arrows button {
  display: inline-block;
  background-color: #fff;
  border: none;
  outline: none;
}
.sort-arrows .down {
  margin-top: 5px;
  opacity: 0.3;
  margin-right: 17px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #000000;
  padding: 0;
}
.sort-arrows .down:hover {
  opacity: 0.6;
}
.sort-arrows .down:active {
  opacity: 1;
}
.sort-arrows .up {
  margin-right: -2px;
  vertical-align: middle;
  opacity: 0.3;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #000000;
  padding: 0;
}
.sort-arrows .up:hover {
  opacity: 0.6;
}
.sort-arrows .up:active {
  opacity: 1;
}
.sort-arrows .active {
  opacity: 1;
}
.products {
  font-size: 0;
  margin-bottom: 22px;
}
.product-card {
width: 355px;
margin-bottom: 24px;
display: inline-block;
position: relative;
border: 1px solid #e9e9e9;
border-top: none;
}
.product-card:hover {
box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.35);
}
.product-card:nth-of-type(2n){
  margin-left: 44px;
}
.product-card:hover .product-card-details {
  display: block;
}
.product-card img {
display: block;
border-top: 40px solid #e9e9e9;
border-radius: 2px 2px 0px 0px;
}
.product-card:hover img {
border-top: 40px solid #4d4d4d;
}
.product-card::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 23px 0px 0px 0px #fff, 46px 0px 0px 0px #fff;
  top: 12px;
  left: 15px;
}
.product-card-details {
  display: none;
  position: absolute;
  bottom: 0px;
  background: #eeeeee;
  width: 360px;
  min-height: 210px;
  padding-bottom: 20px;
}
.product-card-details h3 {
  margin: 0 0;
  padding-top: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.product-card-details a {
  text-decoration: none;
  color: #000;
}
.product-card-description {
  display: block;
  width: 227px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: #666666;
  text-align: center;
  padding-top: 12px;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 20px;
  margin-bottom: 28px;
}
button.product-card-price {
  display: block;
  margin: 0px auto;
  width: 200px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding-top: 16px;
  padding-bottom: 13px;
  border: 0;
  background-color: #fb565a;
  border-top: 3px solid #fb565a;
  border-radius: 2px;
  outline: none;
}
button.product-card-price:hover {
  background-color: #e74246;
  border-top: 3px solid #e74246;
}
button.product-card-price:active {
  background-color: (215,55,59);
  border-top: 3px solid #c13135;
  color: rgba(255,255,255,0.3);
}
.catalog-pagination-item {
  min-width: 44px;
  border: 3px solid #f1f1f1;
  background-color: #f1f1f1;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  display: inline-block;
  padding-left: 0;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-left: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}
.catalog-pagination-item:first-child {
  margin-left: 0px;
}
.catalog-pagination-item:hover {
  border-color: #e5e5e5;
  background-color: #e5e5e5;
}
.catalog-pagination-item:active {
  border-color: #d5d5d5;
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}
.catalog-pagination a {
  display: inline-block;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.catalog-pagination-item-active {
  background-color: #fff;
}
.catalog-pagination-item-active:hover, .catalog-pagination-item-active:active {
  box-shadow: none;
  background-color: #fff;
}
.next-page {
  width: 260px;
  height: 50px;
  font-size: 15px;
  line-height: 0;
  border: none;
  background: #f1f1f1;
  outline: none;
  color: #000;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 9px;
  text-transform: uppercase;
}
.next-page:hover {
  background-color: #e5e5e5;
}
.next-page:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}
.modal-content {
  display: none;
  z-index: 2000;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 760px;
  padding-top: 69px;
  padding-left: 100px;
  padding-right: 100px;
  color: #000000;
  background: #fff;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.7);
}

@keyframes fading {
  0%    {
    background-color: #9f9393;
  }
  33%   {
    background-color: #cccccc;
  }
  66%   {
    background-color: #e5e5e5;
  }
  100%  {
    background-color: #fff;
  }
}

.modal-content-show {
  display: block;
  animation: fading 0.9s;
}
.modal-content h2 {
  margin: 0;
}
.login-form label {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  margin-right: 35px;
  margin-bottom: 25px;
  padding-top: 9px;
}
.login-form label:nth-child(2n) {
  margin-right: 0;
}
.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="email"] {
  font-family: Roboto, Arial, sans-serif;
  color: #000000;
  margin: 0;
  margin-top: 10px;
  padding: 13px;
  display: block;
  width: 329px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  outline: none;
}
.login-form textarea {
  font-family: Roboto, Arial, sans-serif;
  color: #c0c0c0;
  margin: 0;
  margin-top: 10px;
  padding: 13px;
  display: block;
  width: 728px;
  height: 90px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  margin-bottom: 10px;
  outline: none;
}
.login-form input[type="text"]:hover,
.login-form input[type="email"]:hover,
.login-form textarea:hover {
  border: 2px solid #b4b9bb;
}
.login-form input[type="text"]:focus,
.login-form input[type="email"]:focus,
.login-form textarea:focus {
  border: 2px solid #000000;
  color: #000000;
}
.login-form input[type="text"]:invalid,
.login-form input[type="email"]:invalid,
.login-form textarea:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}
.icon-user.value-invalid {
  border: 2px solid #e74246;
  color: #e74246;
}
.modal-content-close {
  position: absolute;
  padding: 40px;
  top: 79px;
  right: 35px;
  height: 22px;
  font-size: 0;
  background-color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: rgba(251, 86, 90, 0.6);
  border-radius: 1px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}
.modal-content-close::after {
  transform: rotate(-45deg);
}
.modal-content-close:hover::before,
.modal-content-close:hover::after {
  background-color: rgba(251, 86, 90, 1);
}
.modal-content-close:active::before,
.modal-content-close:active::after {
  background-color: rgba(251, 86, 90, 0.3);
}
.modal-content button[type=submit] {
  display: block;
  background-color: #fb565a;
  text-align: center;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 83px;
  padding: 15px 83px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fb565a;
  border: 0;
  outline: none;
  border-top: 3px solid #fb565a;
  outline: none;
}
.modal-content button[type=submit]:hover {
  background-color: #e74246;
  border-top: 3px solid #e74246;
}
.modal-content button[type=submit]:active {
  background-color: (215,55,59);
  border-top: 3px solid #c13135;
  color: rgba(255,255,255,0.3);
}
